html, body {
    height: 100%;  
    margin: 0;
    overflow-y: hidden;  
}

/* overall page styling */
body {
    font-family: 'Jura', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    text-align: center;
    background: linear-gradient(to bottom right, #2b5ec3, #c8102e);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    padding: 20px;
    overflow-x: hidden;
}

/* center the main content vertically */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* styling for the nba logo */
.logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.2);
}

/* main title styling */
h1 {
    font-size: 48px;
    color: #98b7f5;
    margin: 20px 0;
}

/* description text styling */
p {
    font-size: 18px;
    color: #fff;
    margin: 5px 0;
}

/* container for buttons */
.button-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* buttons styling */
.button {
    background-color: #1d428a;
    color: #fff;
    padding: 15px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.6s ease;
}

.button:hover {
    background-color: #c8102e;
    transform: scale(1.1);
}

/* footer styling */
footer {
    font-size: 14px;
    color: #fff;
    padding: 30px 0;
}