html, body {
    height: 100%;  
    margin: 0;  
}

/* overall page styling */
body {
    font-family: 'Jura', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    text-align: center;
    background: linear-gradient(to bottom right, #2b5ec3, #c8102e);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    padding: 20px;
    overflow-x: hidden;
}

/* styling for the nba logo */
header {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
}

/* player name/photo styling */
.player-name-photo {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.player-photo {
    width: min(300px, 60vw);
    border-radius: 18px;
    box-shadow: 0 10px 24px rgba(0,0,0,0.35);
    object-fit: cover;
    transition: transform 0.3s ease;
}

.player-photo:hover {
    transform: scale(1.1);
}

/* team / jersey number / position styling */
.player-info {
    h1 {
        font-size: 48px;
        color: #98b7f5;
    }
    .player-team-info {
        margin-top: 10px;
        font-size: 24px;
    }
}

/* player average stats styling */
.stat-grid {
    align-self: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-radius: 12px;
    border: 2px solid rgb(255, 255, 255);
  }
  
.stat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #fff;
    border-right: 1px solid rgba(255,255,255,0.4);
}

.sub-one, .sub-two {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    flex: 1;
    .stat-value {
        font-size: 20px;
        line-height: 1;
        text-wrap: balance;
        word-break: break-word;
        text-align: center;
    }
}

.sub-two {
    border-top: 1px solid rgba(255,255,255,0.3);
}

.stat-label {
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.85);
    margin-bottom: 8px;
    text-align: center;
    white-space: nowrap;
}

.stat-value {
    font-weight: 600;
    font-size: 25px;
    line-height: 1.1;
    text-align: center;
}

/* table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    padding: 0.5rem;
    text-align: center;
    border: 1px solid #ccc;
}

/* footer styling */
footer {
    margin-top: 50px;
    font-size: 14px;
    color: #fff;
    padding: 50px 0;
}