html, body {
    height: 100%;  
    margin: 0;  
}

/* overall page styling */
body {
    font-family: 'Jura', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    text-align: center;
    background: linear-gradient(to bottom right, #2b5ec3, #c8102e);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    padding: 20px;
    overflow-x: hidden;
}

/* styling for the nba logo */
header {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
}

/* player name/photo styling */
.player-name-photo {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.player-photo {
    width: min(300px, 60vw);
    border-radius: 18px;
    box-shadow: 0 10px 24px rgba(0,0,0,0.35);
    object-fit: cover;
    transition: transform 0.3s ease;
}

.player-photo:hover {
    transform: scale(1.1);
}

/* team / jersey number / position styling */
.player-info {
    h1 {
        font-size: 48px;
        color: #98b7f5;
    }
    .player-team-info {
        margin-top: 10px;
        font-size: 24px;
    }
}

/* player average stats styling */
.stat-grid {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid rgb(255, 255, 255);
  }
  
.stat-card {
    color: #fff;
    display: grid;
    padding: 20px 40px;
    box-shadow: inset -1px 0 0 rgba(255,255,255);
}

.stat-card:last-child {
    box-shadow: none;
}

.stat-label {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.85);
}

.stat-value {
    margin-top: 6px;
    font-weight: 800;
    font-size: 30px;
    line-height: 1;
}

/* footer styling */
footer {
    margin-top: 50px;
    font-size: 14px;
    color: #fff;
    padding: 50px 0;
}