html, body {
    height: 100%;  
    margin: 0;  
}

/* overall page styling */
body {
    font-family: 'Jura', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    text-align: center;
    background: linear-gradient(to bottom right, #2b5ec3, #c8102e);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    padding: 20px;
    overflow-x: hidden;
}

/* styling for header */
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* logo styling */
.team-logo img {
    width: 250px;
}

/* main title styling */
.header-text {
    text-align: center;
    p {
        font-size: 21px;
    }
}

h1 {
    font-size: 38px;
    color: #98b7f5;
}

/* table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    padding: 0.5rem;
    text-align: center;
    border: 1px solid #ccc;
}

/* prediction button styling */
.player-predict-btn {
    appearance: none;
    background-color: #1d428a;
    color: #fff;
    padding: 15px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.6s ease;
}

.player-predict-btn:hover {
    background-color: #c8102e;
    transform: scale(1.1);
}

.player-predict-btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.predict-notes summary {
    margin-top: 10px;
    cursor: pointer;
}

.predict-notes p {
    margin-top: 10px;
}

/* utility */
.hidden {
    display: none;
}  

/* footer styling */
footer {
    margin-top: 50px;
    font-size: 18px;
    color: #fff;
    padding: 50px 0;
}