html, body {
    height: 100%;  
    margin: 0;  
}

/* overall page styling */
body {
    font-family: 'Jura', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    text-align: center;
    background: linear-gradient(to bottom right, #2b5ec3, #c8102e);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    padding: 20px;
    overflow-x: hidden;
}

/* styling for header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo styling */
.team-logo img {
    width: 250px;
}

/* main title styling */
.header-text {
    text-align: center;
}

h1 {
    font-size: 48px;
    color: #98b7f5;
}

/* team info styling */
.team-info {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.team-info p {
    display: flex;
    justify-content: space-between;
    width: 17vw;
}

.team-info .label {
    text-align: left;
    font-weight: bold;
}

.team-info .value {
    text-align: right;
}

/* table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    padding: 0.5rem;
    text-align: center;
    border: 1px solid #ccc;
}

/* footer styling */
footer {
    margin-top: 50px;
    font-size: 18px;
    color: #fff;
    padding: 50px 0;
}