html, body {
    height: 100%;  
    margin: 0;  
}

/* overall page styling */
body {
    font-family: 'Jura', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    text-align: center;
    background: linear-gradient(to bottom right, #2b5ec3, #c8102e);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    padding: 20px;
    overflow-x: hidden;
}

/* styling for the nba logo */
header {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    .logo {
        width: 80px;
        height: auto;
        margin-bottom: 20px;
        transition: transform 0.3s ease;
        cursor: pointer;
    }
    .logo:hover {
        transform: scale(1.2);
    }
}

/* main title styling */
.header-text {
    text-align: center;
}

h1 {
    font-size: 48px;
    color: #98b7f5;
    margin: 40px 0;
}

/* description text styling */
p {
    font-size: 18px;
    color: #fff;
    margin: 5px 0;
}

.team-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    gap: 6px;
}

.team-info p {
    display: flex;
    justify-content: space-between;
    width: 15vw;
}

.team-info .label {
    text-align: left;
    font-weight: bold;
}

.team-info .value {
    text-align: right;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    padding: 0.5rem;
    text-align: center;
    border: 1px solid #ccc;
}