html, body {
    height: 100%;  
    margin: 0;  
}

/* overall page styling */
body {
    font-family: 'Jura', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    text-align: center;
    background: linear-gradient(to bottom right, #2b5ec3, #c8102e);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    padding: 20px;
    overflow-x: hidden;
}

/* styling for the nba logo */
header {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
}

/* main title styling */
.header-text {
    text-align: center;
    margin-bottom: 10px;
}

h1 {
    font-size: 48px;
    color: #98b7f5;
    margin: 20px 0;
}

/* description text styling */
p {
    font-size: 18px;
    color: #fff;
    margin: 5px 0;
}

/* conference button styling */
.button-container {
    margin-top: 15px;
    display: flex;
    gap: 15px; /* space between buttons */
}

.conf-button {
    background-color: #0033a0;
    color: #fff;
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 0.95rem;
    transition: background-color 0.3s, transform 0.3s ease;
}

.conf-button:hover {
    background-color: #c8102e;
    transform: scale(1.05);
}

.conf-button.active {
    background-color: #c8102e;
}

/* grid layout */
.eastern-teams-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-items: center;
    margin-bottom: 40px;
    p {
        cursor: pointer;
        transition: transform 0.3s ease;
    }
    p:hover {
        transform: scale(1.1);
    }
}

.western-teams-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-items: center;
    margin-bottom: 40px;
    p {
        cursor: pointer;
        transition: transform 0.3s ease;
    }
    p:hover {
        transform: scale(1.1);
    }
}

.team-item {
    flex-direction: column;
}

/* logo items */
.team-item img {
    width: 200px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.team-item img:hover {
    transform: scale(1.1);
}

/* footer styling */
footer {
    margin-top: 50px;
    font-size: 14px;
    color: #fff;
    padding: 50px 0;
}