<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Predictor Project Homepage</title>
    <!-- link to the css file in static folder -->
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <!-- link to the js file in the static folder -->
    <script src="{{url_for('static', filename='index.js')}}"></script>
</head>
<body>
    <!-- nba logo -->
    <img src="{{url_for('static', filename='images/nba-logo.png')}}" alt="NBA Logo" class="logo">

    <!-- application name -->
    <h1>Courtside Predictor</h1>

    <!-- decription of the application -->
    <p>
        Get real-time predictions and stats on NBA teams and players!
    </p>
    <p>
        Choose what you want to explore below!
    </p>

    <!-- buttons -->
    <div class="button-container">
        <a href="{{url_for('teams_page')}}" class="button">Teams</a>
        <a href="{{url_for('players_page')}}" class="button">Players</a>
    </div>

    <!-- footer -->
    <footer>
        <p>&copy; 2025 Courtside Predictor - Built with Flask</p>
    </footer>
</body>
</html>