<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Predictor Project Players Page</title>
    <!-- link to the css file in static folder -->
    <link rel="stylesheet" href="{{url_for('static', filename='players.css')}}">
    <!-- link to the js file in the static folder -->
    <script src="{{url_for('static', filename='players.js')}}"></script>
</head>
<body>
    <header>
        <!-- nba logo -->
        <img src="{{ url_for('static', filename='images/nba-logo.png') }}" alt="NBA Logo" class="logo">

        <!-- wrap title and description in container-->
        <div class="header-text">
            <!-- page title -->
            <h1>Players</h1>
            <!-- page description -->
            <p>Select or search for your player below</p>
            <!-- search bar -->
            <div class="search-bar">
                <form id="search-bar" action="{{ url_for('players_page') }}" method="get">
                  <input
                    type="text"
                    name="q"
                    id="playerInput"
                    placeholder="Search for a player..."
                    value="{{ query or '' }}"
                    required
                  >
                  <button type="submit">Search</button>
                </form>
              </div>
        </div>
    </header>

    <!-- players -->
    <table>
        <thead>
            <tr>
                <th>Player ID</th>
                <th>Player Name</th>
                <th>Team Name</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
            <tr>
                <td>{{ player.id }}</td>
                <td>
                    <a href="/player_stats/{{ player.id }}" class="player-link">
                        {{ player.full_name }}
                    </a>
                </td>
                <td>{{ player.team_name }}</td>
                <td>{{ player.position }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- button to load more players -->
    <div class="load-player-button-container">
        <!-- store current query so JS can request more of the same search -->
        <a href="#" class="load-players-button" data-query="{{ query or '' }}">Load More Players</a>
    </div>

    <!-- footer -->
    <footer>
        <p>&copy; 2025 Courtside Predictor - Built with Flask</p>
    </footer>
</body>
</html>