<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Predictor Project Players Stats Page</title>
    <!-- link to the css file in static folder -->
    <link rel="stylesheet" href="{{url_for('static', filename='player_stats.css')}}">
    <!-- link to the js file in the static folder -->
    <script src="{{url_for('static', filename='player_stats.js')}}"></script>
</head>
<body>
    <header>
        <!-- wrap player name and headshot in container-->
        <div class="player-name-photo">
            <!-- headshot -->
            <img 
                class="player-photo"
                src="{{ headshot_url }}"
                alt="{{ player_name }} headshot"
                onerror="this.onerror=null; this.src='https://cdn.nba.com/headshots/nba/latest/260x190/{{ player_id }}.png';"
            />
            <!-- player name -->
            <h1>{{ player_name }}</h1>
        </div>

    </header>

    <!-- footer -->
    <footer>
        <p>&copy; 2025 Courtside Predictor - Built with Flask</p>
    </footer>
</body>
</html>