<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Predictor Project Team Stats Page</title>
    <!-- link to the css file in static folder -->
    <link rel="stylesheet" href="{{url_for('static', filename='teams_stats.css')}}">
</head>
<body>
    <header>
        <!-- wrap logo in container -->
        <div class="team-logo">
            <img src="{{ url_for('static', filename=logo_filename) }}"
                 alt="{{ team_name }} logo">
        </div>
        <!-- wrap title in container -->
        <div class="header-text">
            <!-- page title -->
            <h1>{{ team_name }}</h1>
        </div>

        <!-- wrap basic team info in container -->
        <div class="team-info">
            <p><span class="label">City:</span> <span class="value">{{ team_city }}</span></p>
            <p><span class="label">Abbreviation:</span> <span class="value">{{ team_abbr }}</span></p>
            <p><span class="label">Conference:</span> <span class="value">{{ team_conference }}</span></p>
            <p><span class="label">Division:</span> <span class="value">{{ team_division }}</span></p>
            <p><span class="label">Conference Rank:</span> <span class="value">{{ conf_rank }}</span></p>
            <p><span class="label">Division Rank:</span> <span class="value">{{ div_rank }}</span></p>
        </div>
    </header>

    <!-- this section will display the roster of the selected team -->
    <section class="roster">
        <h2>Roster</h2>
        <table>
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Jersey #</th>
                    <th>Position</th>
                    <th>Height</th>
                    <th>Weight</th>
                    <th>Birthdate</th>
                    <th>Age</th>
                    <th>Experience</th>
                    <th>School</th>
                </tr>
            </thead>
            <tbody>
                {% for p in roster %}
                <tr>
                    <td>
                        {% if p.id %}
                            <a href="{{ url_for('players_stats_page', player_id=p.id) }}" class="player-link">
                                {{ p.name }}
                            </a>
                        {% else %}
                            {{ p.name }}
                        {% endif %}
                    </td>
                    <td>{{ p.jersey }}</td>
                    <td>{{ p.position }}</td>
                    <td>{{ p.height }}</td>
                    <td>{{ p.weight }}</td>
                    <td>{{ p.birthdate }}</td>
                    <td>{{ p.age }}</td>
                    <td>{{ p.experience }}</td>
                    <td>{{ p.school }}</td>
                </tr>
                {% endfor %}
                {% if not roster %}
                <tr>
                    <td colspan="9">
                        <em>No Roster Data Available</em>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </section>

    <!-- this table will display stats for each of the last 20 games -->
    <section class="last-20-games">
        <h2>Last 20 Games</h2>
        <table>
            <thead>
                <tr>
                    <th>Game Date</th>
                    <th>Season Type</th>
                    <th>Opponent</th>
                    <th>Home/Away</th>
                    <th>Points</th>
                    <th>Rebounds</th>
                    <th>Assists</th>
                    <th>Turnovers</th>
                    <th>Win</th>
                </tr>
            </thead>
            <tbody>
                {% for game in games %}
                <tr>
                    <td>{{ game['Game Date'] }}</td>
                    <td>{{ game['Season Type'] }}</td>
                    <td>{{ game['Opponent'] }}</td>
                    <td>{{ game['Location'] }}</td>
                    <td>{{ game['Points'] }}</td>
                    <td>{{ game['Rebounds'] }}</td>
                    <td>{{ game['Assists'] }}</td>
                    <td>{{ game['Turnovers'] }}</td>
                    <td>{{ 'Yes' if game['Win'] == 1 else 'No' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <!-- this table will display the average stats from the last 20 games -->
    <section class="average-stats-20-games">
        <h2>Team Average Stats Last 20 Games</h2>
        <table>
            <thread>
                <tr>
                    <th>Average Points</th>
                    <th>Average Rebound</th>
                    <th>Average Assists</th>
                    <th>Average Turnovers</th>
                </tr>
            </thread>
            <tbody>
                <tr>
                    <th>{{ avg_points | round(2) }}</th>
                    <th>{{ avg_rebounds | round(2) }}</th>
                    <th>{{ avg_assists | round(2) }}</th>
                    <th>{{ avg_turnovers | round(2) }}</th>
                </tr>
            </tbody>
        </table>
    </section>

    <!-- footer -->
    <footer>
        <p>&copy; 2025 Courtside Predictor - Built with Flask</p>
    </footer>
</body>
</html>