<h1>{{ team_abbr }} - Last 20 Games</h1>

<table>
  <thead>
    <tr>
      <th>Game Date</th>
      <th>Opponent</th>
      <th>Points</th>
      <th>Rebounds</th>
      <th>Assists</th>
      <th>Turnovers</th>
    </tr>
  </thead>
  <tbody>
    {% for game in games %}
    <tr>
      <td>{{ game['GAME DATE'] }}</td>
      <td>{{ game['OPP ABBR'] }}</td>
      <td>{{ game['POINTS'] }}</td>
      <td>{{ game['REBOUNDS'] }}</td>
      <td>{{ game['ASSISTS'] }}</td>
      <td>{{ game['TURNOVERS'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h3>Averages (Last 20 Games)</h3>
<ul>
  <li>Points: {{ avg_points | round(2) }}</li>
  <li>Rebounds: {{ avg_rebounds | round(2) }}</li>
  <li>Assists: {{ avg_assists | round(2) }}</li>
  <li>Turnovers: {{ avg_turnovers | round(2) }}</li>
</ul>
